@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  scroll-behavior: smooth;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-wiggle: wiggle 0.15s ease-in-out 8;

  @keyframes wiggle{
    0% 
    100% {
      transform: rotate(-8deg);
    }
    50%{
      transform: rotate(8deg);
    }
  }
}

.non-draggable {
  user-select: none;
  -webkit-user-drag: none;
}

@layer utilities {
  .underline-hover {
    @apply relative inline-block
           after:content-['']
           after:absolute after:left-0 after:bottom-0
           after:h-[2px] after:w-0 after:bg-black dark:after:bg-white
           after:transition-all after:duration-300
           hover:after:w-full;
  }
}
